/frontend/React/template/node_modules
/frontend/React/node_modules
/frontend/Angular/node_modules
/frontend/Angular/pizza-ordering-app/vite
/backend/Node/node_modules
/frontend/React/node_modules
/backend/.NET/4.Utilities/obj
/backend/Python/tests/integration/__pycache__
/frontend/Angular/pizza-ordering-app/vite
